.highlight  { background: #fff; color: #333 }
.highlight .c { color: #666; font-style: italic } /* Comment */
.highlight .err { color: #333 } /* Error */
.highlight .g { color: #333 } /* Generic */
.highlight .k { color: #e25440; font-weight: bold } /* Keyword */
.highlight .l { color: #333 } /* Literal */
.highlight .n { color: #333 } /* Name */
.highlight .o { color: #666 } /* Operator */
.highlight .x { color: #333 } /* Other */
.highlight .p { color: #333 } /* Punctuation */
.highlight .cm { color: #666; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #666; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #666; font-style: italic } /* Comment.Single */
.highlight .cs { color: #666; font-style: italic } /* Comment.Special */
.highlight .gd { color: #333 } /* Generic.Deleted */
.highlight .ge { color: #333; text-decoration: underline } /* Generic.Emph */
.highlight .gr { color: #333; background-color: #602020 } /* Generic.Error */
.highlight .gh { color: #e25440; text-decoration: underline } /* Generic.Heading */
.highlight .gi { color: #333 } /* Generic.Inserted */
.highlight .go { color: #333 } /* Generic.Output */
.highlight .gp { color: #e25440 } /* Generic.Prompt */
.highlight .gs { color: #333 } /* Generic.Strong */
.highlight .gu { color: #e25440; text-decoration: underline } /* Generic.Subheading */
.highlight .gt { color: #333 } /* Generic.Traceback */
.highlight .kc { color: #e25440; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #e25440; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #e25440; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #e25440; font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { color: #e25440; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { background-color: #e8f2fb; border: 1px solid #c9e1f6; border-radius: 3px } /* Keyword.Type */
.highlight .ld { color: #333 } /* Literal.Date */
.highlight .m { color: #333 } /* Literal.Number */
.highlight .s { color: #e25440; font-style: italic } /* Literal.String */
.highlight .na { color: #a999ac } /* Name.Attribute */
.highlight .nb { background-color: #e8f2fb; border: 1px solid #c9e1f6; border-radius: 3px } /* Name.Builtin */
.highlight .nc { background-color: #e8f2fb; border: 1px solid #c9e1f6; border-radius: 3px } /* Name.Class */
.highlight .no { color: #e25440 } /* Name.Constant */
.highlight .nd { color: #e25440; font-weight: bold } /* Name.Decorator */
.highlight .ni { color: #e25440 } /* Name.Entity */
.highlight .ne { color: #333 } /* Name.Exception */
.highlight .nf { color: #a999ac } /* Name.Function */
.highlight .nl { color: #333 } /* Name.Label */
.highlight .nn { color: #333 } /* Name.Namespace */
.highlight .nx { color: #333 } /* Name.Other */
.highlight .py { color: #333 } /* Name.Property */
.highlight .nt { color: #e25440 } /* Name.Tag */
.highlight .nv { color: #666; font-weight: bold } /* Name.Variable */
.highlight .ow { color: #e25440; font-weight: bold  } /* Operator.Word */
.highlight .w { color: #333 } /* Text.Whitespace */
.highlight .mf { color: #e25440; font-style: italic } /* Literal.Number.Float */
.highlight .mh { color: #e25440; font-style: italic } /* Literal.Number.Hex */
.highlight .mi { color: #e25440; font-style: italic } /* Literal.Number.Integer */
.highlight .mo { color: #e25440; font-style: italic } /* Literal.Number.Oct */
.highlight .sb { color: #e25440; font-style: italic } /* Literal.String.Backtick */
.highlight .sc { color: #e25440; font-style: italic } /* Literal.String.Char */
.highlight .sd { color: #e25440; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #e25440; font-style: italic } /* Literal.String.Double */
.highlight .se { color: #e25440; font-style: italic } /* Literal.String.Escape */
.highlight .sh { color: #e25440; font-style: italic } /* Literal.String.Heredoc */
.highlight .si { color: #e25440; font-style: italic } /* Literal.String.Interpol */
.highlight .sx { color: #e25440; font-style: italic } /* Literal.String.Other */
.highlight .sr { color: #e25440; font-style: italic } /* Literal.String.Regex */
.highlight .s1 { color: #e25440; font-style: italic } /* Literal.String.Single */
.highlight .ss { color: #e25440; font-style: italic } /* Literal.String.Symbol */
.highlight .bp { color: #333 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #666; font-weight: bold } /* Name.Variable.Class */
.highlight .vg { color: #666; font-weight: bold } /* Name.Variable.Global */
.highlight .vi { color: #666; font-weight: bold } /* Name.Variable.Instance */
.highlight .il { color: #333; font-style: italic } /* Literal.Number.Integer.Long */
